@{
	ViewBag.Lastlogin = "Last Login: 07 September 2023 4:38 PM";
	ViewBag.TitlePage = "Create New User";
}

<head>


</head>


<body>
		<div class="item form-group">
			<label class="col-form-label col-md-3 col-sm-3 label-align">
				User ID
			</label>
			<div class="col-md-6 col-sm-6 ">
				<input type="text" id="username" class="form-control">
			</div>
		</div>
		<div class="item form-group">
			<label class="col-form-label col-md-3 col-sm-3 label-align">
				Employee Name
			</label>
			<div class="col-md-6 col-sm-6 ">
				<input type="text" id="employeename" class="form-control">
			</div>
		</div>
		<div class="item form-group">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Email</label>
			<div class="col-md-6 col-sm-6 ">
				<input id="email" class="form-control" type="email">
			</div>
		</div>
		<div class="item form-group">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Mobile Number</label>
			<div class="col-md-6 col-sm-6 ">
				<input id="mobileno" class="form-control" type="number">
			</div>
		</div>
		<div class="item form-group">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Group/Dept</label>
			<div class="col-md-6 col-sm-6 ">
				<select class="form-control" id="groupdept">
					<option slected></option>
					<option>GTB-BizSol</option>
				</select>
			</div>
		</div>
		<div class="item form-group">
			<label class="col-form-label col-md-3 col-sm-3 label-align">Role</label>
			<div class="col-md-6 col-sm-6 ">
				<select class="form-control" id="role">
					<option slected></option>
					<option>Maker</option>
				</select>
			</div>
		</div>

		<div class="ln_solid"></div>
		<div class="item form-group">
			<div class="col-md-6 col-sm-6 offset-md-3">
				<button type="submit" class="btn btn-primary btnSubmit">Submit</button>
				<button class="btn btn-danger btnCancel" type="button">Cancel</button>
			</div>
		</div>



<script>
	 $('.btnSubmit').click (function (){
        if ($('#username').val() == "" || $('#employeename').val() == "" || $('#email').val() == "" || $('#mobileno').val() == ""  || $('#groupdept').val() == ""
		  || $('#role').val() == "")
        {
            ShowToastr("Incomplete Data", "Error");
        }
       else
       {
            Register();
       }
    })
	 function Register(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("Register", "Home")',
            data: {
                "Username": $('#username').val(),
                "Password": "Pass1234.",
				"EmployeeName": $('#employeename').val(),
				"Email": $('#email').val(),
				"Mobileno": $('#mobileno').val(),
				"GrpDept": $('#groupdept').val(),
				"Role": $('#role').val(),
            },
            success: function (response) {
				if (response == "1")
				{
					 window.location.href = "@Url.Action("CreateNewUser", "Home")";
					 //ShowToastr("User succesfully registered", "Success");
				}
				else
				{
					 ShowToastr("User Already Exists!", "Error");
				}
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>


</body>