@{
	ViewBag.Lastlogin = "Last Login: 07 September 2023 4:38 PM";
	ViewBag.TitlePage = "Reset Password";
}

<style>
	#search{
		cursor: pointer;
	}
</style>

<div class="item form-group">
	<label class="col-form-label col-md-3 col-sm-3 label-align">
		User ID
	</label>
	<div class="col-md-6 col-sm-6 ">
		<input type="text" id="usernameserach" class="form-control">
	</div>
	<div class="col-md-2 col-sm-2 ">
		<i class="fa fa-search fa-2x" aria-hidden="true" id="search"></i>
	</div>
</div>

<div class="item form-group" style="margin-top: 30px">
	<label class="col-form-label col-md-3 col-sm-3 label-align">
		User ID
	</label>
	<div class="col-md-6 col-sm-6 ">
		<input type="text" id="username" class="form-control" readonly>
	</div>
</div>
<div class="item form-group">
	<label class="col-form-label col-md-3 col-sm-3 label-align">
		Employee Name
	</label>
	<div class="col-md-6 col-sm-6 ">
		<input type="text" id="employeename" class="form-control" readonly>
	</div>
</div>
<div class="item form-group">
	<label class="col-form-label col-md-3 col-sm-3 label-align">Email</label>
	<div class="col-md-6 col-sm-6 ">
		<input id="email" class="form-control" type="email" readonly>
	</div>
</div>
<div class="item form-group">
	<label class="col-form-label col-md-3 col-sm-3 label-align">Mobile Number</label>
	<div class="col-md-6 col-sm-6 ">
		<input id="mobileno" class="form-control" type="number" readonly>
	</div>
</div>
<div class="item form-group">
	<label class="col-form-label col-md-3 col-sm-3 label-align">Group/Dept</label>
	<div class="col-md-6 col-sm-6 ">
			<input id="groupdept" class="form-control" type="text" readonly>
	</div>
</div>
<div class="item form-group">
	<label class="col-form-label col-md-3 col-sm-3 label-align">Role</label>
	<div class="col-md-6 col-sm-6 ">
		<input id="role" class="form-control" type="text" readonly>
	</div>
</div>

<div class="ln_solid"></div>
<div class="item form-group">
	<div class="col-md-6 col-sm-6 offset-md-3">
		<button type="submit" class="btn btn-primary btnSubmit">Regenerate Password</button>
		<button class="btn btn-danger btnCancel" type="button">Cancel</button>
	</div>
</div>

<script>
	$('#search').click (function (){
		 $.ajax({
                type: "POST",
                url: '@Url.Action("SearchUser", "Home")',
                data: {
                    "Username": $('#usernameserach').val(),
                },
                success: function (response) {
					console.log(JSON.stringify(response))
                    $('#username').val(response.userId);
					$('#employeename').val(response.employeeName);
					$('#email').val(response.email);
					$('#mobileno').val(response.mobileNumber);
					$('#groupdept').val(response.groupDept);
					$('#role').val(response.userRole);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
        });
	})
</script>
